.App {
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

section {
  align-content: center;
  background-color: grey;
  width: 33vw;
  height: 40px;
}


table {
  border: 2px solid rgb(140 140 140);
}

th,
td {
  border: 1px solid rgb(160 160 160);
}