.App {
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

section {
  align-content: center;
  background-color: grey;
  width: 33vw;
  height: 40px;
}